data
archive
draft
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.o
*.so
*.dll
*.rds
gh-pages
orderly.sqlite
index_files
src/*/_site.yml
src/*/styles.css
src/*/footer.html
src/*/footer.tex
src/*/logo.jpg
src/*/header.html
src/*/_navbar.html
src/*/logo.png

src/parameters/parameters.html
src/parameters/parameters.md

src/404/404.html
src/404/404.md

src/index_page/_site.yml
src/index_page/styles.css
src/index_page/footer.html
src/index_page/footer.tex
src/index_page/logo.jpg
src/index_page/header.html
src/index_page/index.html
src/index_page/index.md

src/lmic_reports/index.html
src/lmic_reports/index.md
src/lmic_reports/index.pdf

src/lmic_reports/index.html
src/lmic_reports/index.md
src/lmic_reports/index.pdf
