data
archive
draft
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.o
*.so
*.dll
*.rds
gh-pages
gh-results
orderly.sqlite
index_files
src/*/_site.yml
src/*/styles.css
src/*/footer.html
src/*/footer.tex
src/*/logo.jpg
src/*/header.html
src/*/_navbar.html
src/*/logo.png
src/*/ganalytics.html
src/parameters/parameters.html
src/parameters/parameters.md
src/404/404.html
src/404/404.md
src/index_page/_site.yml
src/index_page/styles.css
src/index_page/footer.html
src/index_page/footer.tex
src/index_page/logo.jpg
src/index_page/header.html
src/index_page/index.html
src/index_page/index.md
src/regional_page/_site.yml
src/regional_page/styles.css
src/regional_page/footer.html
src/regional_page/footer.tex
src/regional_page/logo.jpg
src/regional_page/header.html
src/regional_page/index.html
src/regional_page/index.pdf
src/regional_page/index.md
src/lmic_reports/index.html
src/lmic_reports/index.md
src/lmic_reports/index.pdf
src/lmic_reports/input_params.json
src/lmic_reports/fitting.pdf
src/lmic_reports/projections.csv
src/lmic_reports_google/index.html
src/lmic_reports_google/index.md
src/lmic_reports_google/index.pdf
src/lmic_reports_google/header.tex
src/lmic_reports_google/input_params.json
src/lmic_reports_google/fitting.pdf
src/lmic_reports_google/projections.csv
src/lmic_reports_google_pmcmc/index.html
src/lmic_reports_google_pmcmc/index.md
src/lmic_reports_google_pmcmc/index.pdf
src/lmic_reports_google_pmcmc/header.tex
src/lmic_reports_google_pmcmc/input_params.json
src/lmic_reports_google_pmcmc/input_params_dashboard.json
src/lmic_reports_google_pmcmc/fitting.pdf
src/lmic_reports_google_pmcmc/projections.csv
src/lmic_reports_google_pmcmc/bottom.png
src/lmic_reports_google_pmcmc/header.png
src/lmic_reports_google_pmcmc/pars_init.csv
src/lmic_reports_google_pmcmc_no_decouple/pars_init.csv
src/lmic_reports_google_pmcmc/top_row.png
src/lmic_reports_google_pmcmc_no_decouple/index.html
src/lmic_reports_google_pmcmc_no_decouple/index.md
src/lmic_reports_google_pmcmc_no_decouple/index.pdf
src/lmic_reports_google_pmcmc_no_decouple/header.tex
src/lmic_reports_google_pmcmc_no_decouple/input_params.json
src/lmic_reports_google_pmcmc_no_decouple/input_params_dashboard.json
src/lmic_reports_google_pmcmc_no_decouple/fitting.pdf
src/lmic_reports_google_pmcmc_no_decouple/projections.csv
src/FAQ/FAQ.html
src/FAQ/FAQ.md
src/news/News.html
src/news/News.md
src/FAQ/structure.JPG
src/test
.ssh
src/lmic_reports/ecdc.xlsx
ecdc.xlsx
dummy
todo.txt
analysis
fits
reports
